<div class="flex">
  <main class="relative w-screen max-h-[calc(100vh-7rem)] overflow-hidden"
        data-controller="lineage-graph"
        data-lineage-graph-graph-value="<%= @graph_data.to_json %>"
        data-lineage-graph-practitioner-path-template-value="<%= practitioner_path(':id') %>">
    <header class="text-center">
      <h2><%= practitioner.name %>'s lineage</h2>
      <% practitioner.styles.each_with_index do |style, index| %>
        <% if index > 0 %>
          <span>&middot;</span>
        <% end %>
        <% if style == @style %>
          <h1 class="inline font-bold"><%= style.name %></h1>
        <% else %>
          <%= link_to style.name, { style: style.name, mode: @mode }, class: "hover:underline" %>
        <% end %>
      <% end %>
    </header>
    <div id="lineage-graph" class="h-full" data-lineage-graph-target="canvas"></div>
    <button type="button"
            class="absolute bottom-8 right-8 z-50 rounded bg-cyan-600 hover:bg-cyan-700 text-white px-4 py-2 text-xs shadow"
            data-action="lineage-graph#resetZoom">
      Reset zoom
    </button>
    <div id="lineage-graph-nodes" style="display:none;">
      <% @graph_data[:nodes].each do |node| %>
        <%= link_to node[:name], practitioner_path(node[:id]) %>
      <% end %>
    </div>
  </main>
  <%= render partial: "profile", locals: { practitioner: practitioner } %>
</div>
