<%= turbo_frame_tag "practitioner_info", class: "w-6/12 lg:w-5/12 xl:w-3/12" do %>
  <aside class="mr-8 p-2 border rounded h-[calc(100vh-5rem-4rem)]">
    <h1 class="text-center font-bold">Add a master</h1>

    <%= form_with model: @master, url: practitioner_masters_path(practitioner_id: @practitioner.id) do |f| %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name, data: { select_practitioner: true } %>
      </div>

      <div>
        <%= f.label :style, style: "display: block" %>
        <%= f.select :style, [nil] + @styles.map(&:name), {}, data: { select_style: true } %>
      </div>

      <div>
        <%= f.label :public_figure, style: "display: block" %>
        <%= f.select :public_figure, [["Yes", true], ["No", false]] %>
      </div>

      <%= f.submit "Add master" %>
    <% end %>

    <%= link_to "Back", :back, class: "hover:underline text-sm" %>
  </aside>
<% end %>
